<table class="current">
  <tr>
    <td>
      <table class="model">
        <tr>
          <th>Asset type:</th>
          <th></th>
          <th><select data-bind="options: assets, value: myAsset"></select></th>
        </tr>
        <tr>
          <th>Model:</th>
          <th></th>
          <th><select data-bind="options: myModels, value: myModelProxy"></select></th>
        </tr>
        <tbody data-bind="template: { name: 'row-template', foreach: myModelParams }">
        </tbody>
      </table>
    </td>

    <td>
      <table class="option">
        <tr>
          <th>Family:</th>
          <th></th>
          <th><select data-bind="options: myFamilies, value: myFamily"></select></th>
        </tr>
        <tr>
          <th>Option:</th>
          <th></th>
          <th><select data-bind="options: myOptions, value: myOption"></select></th>
        </tr>
        <tbody data-bind="template: { name: 'row-template', foreach: myOptionParams }">
        </tbody>
      </table>
    </td>

    <td>
      <table class="pricing_method">
        <tr>
          <th>Pricing method:</th>
          <th></th>
          <th><select data-bind="options: myMethods, value: myMethod"></select></th>
        </tr>
        <tbody data-bind="template: { name: 'row-template', foreach: myMethodParams }">
        </tbody>
        <tr data-bind="if: scalarResult().length>0">
          <th>Result:</th><th></th><th></th>
        </tr>
        <!-- ko foreach: scalarResult() -->
          <!-- ko if: typeof($data[1])=="number" -->
            <tr data-bind="css: { even: $index()%2==0 }">
              <td class="keys" data-bind="text: $data[0]"></td>
              <td></td>
              <td class="values" data-bind="text: $data[1]"></td>
            </tr>
          <!-- /ko -->
          <!-- ko notif: typeof($data[1])=="number" -->
            <!-- ko foreach: $data[1] -->
              <tr data-bind="css: { even: $parentContext.$index()%2==0 }">
                <!-- ko ifnot: $index -->
                  <td class="keys" data-bind="text: $parentContext.$data[0], attr: { rowspan: $parentContext.$data[1].length }"></td>
                <!-- /ko -->
                <td></td>
              <td class="values" data-bind="text: $data"></td>
              </tr>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: iterationRang()  -->
          <tr class="even">
            <td>Graph size X</td>
            <td><input data-bind="value: graphSizeX"></input></td>
          </tr>
          <tr class="odd">
            <td>Graph size Y</td>
            <td><input data-bind="value: graphSizeY"></input></td>
          </tr>
        <!-- /ko -->
        <tr>
          <td></td>
          <td></td>
          <td><button id="Compute">Compute</button></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<style type="text/css">
    .graph1d {
      width : 600px;
      height: 384px;
      margin: 8px auto;
    }
</style>
<span data-bind="text: query"></span>
<div data-bind="template: { foreach: iteration1dGraphsData, afterRender: renderGraph1d }">
  <div class="graph1d"></div>
</div>
