<script type="text/html" id="vector-row-template">
  <!-- ko foreach: values -->
    <tr data-bind="css: { even: $parentContext.$index()%2==0 }">
      <!-- ko ifnot: $index -->
        <td class="keys" data-bind="text: $parent.label, attr: { rowspan: $parent.spansize() }"></td>
      <!-- /ko -->
      <td>
        <input data-bind="value: $parent.values[$index()]"></input>
      </td>
    </tr>
  <!-- /ko -->
</script>

<script type="text/html" id="vectorcompact-row-template">
    <tr data-bind="css: { even: $index()%2==0 }">
      <td class="keys" data-bind="text: label, attr: { rowspan: spansize() }"></td>
      <td>
        <select data-bind="options: options, value: isvector"></select>
      </td>
    </tr>
    <!-- ko foreach: elements -->
      <tr data-bind="css: { even: $parentContext.$index()%2==0 }">
        <td>
          <input data-bind="value: $parent.at($index())"></input>
        </td>
      </tr>   
    <!-- /ko -->
</script>

<script type="text/html" id="iterations">
  <!-- ko if: hasIteration -->
    <tr data-bind="css: { even: $index()%2==0 }">
      <td></td>
      <td>
        <table class="iteration">
          <tr>
            <td class="keys">Iterate to:</td>
            <td class="values"><input data-bind="value: iterateTo"></input></td>
          </tr>
          <tr>
            <td class="keys">#Iterations:</td>
            <td class="values"><input data-bind="value: iterationsCount"></input></td>
          </tr>
        </table>
      </td>
    </tr>
  <!-- /ko -->
</script>

<script type="text/html" id="scalar-row-template">
  <tr data-bind="css: { even: $index()%2==0 }">
    <td class="keys">
      <span data-bind="text: label"></span>
      <input type="checkbox" data-bind="checked: hasIteration">
    </td>
    <td>
        <input data-bind="value: value"></input>
    </td>
  </tr>
  <!-- ko template: { name : 'iterations' } -->
  <!-- /ko -->
</script>

<script type="text/html" id="filename-row-template">
</script>

<script type="text/html" id="enum-row-template">
  <tr data-bind="css: { even: $index()%2==0 }">
    <td class="keys" data-bind="text: label"></td>
    <td>
        <select data-bind="options: options, value: value"></select>
    </td>
  </tr>
</script>

<script type="text/html" id="row-template">
  <!-- ko template: { name : renderer } -->
  <!-- /ko -->
</script>
